body {
  margin: 0 auto;
  font-family: "Dosis", sans-serif;
  background-image: url("./images/cloudbackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* main container */
.container {
  margin: 50px auto;
  width: 200px;
  height: auto;
  padding: 20px 20px 0 20px;
  background-color: rgb(142, 164, 231, 0.6);
  border: 5px solid rgb(107, 99, 255);
  box-shadow: 10px 10px 40px rgb(142, 3, 244);
  border-radius: 30px;
  color: white;
}

/* search bar  and button*/
.input_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  background: #d8e6ff;
  color: #807bf0;
  box-shadow: 10px 10px 20px #807bf0;
}

#search-btn {
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  padding: 5px 15px 5px 15px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #807bf0;
}

#search-bar {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 0;
  text-align: center;
}

::placeholder {
  font-size: 10px;
  color: rgb(107, 99, 255);
}

input[type="text"] {
  font-size: 10px;
  color: rgb(107, 99, 255);
  font-weight: 200;
}
/* div with the current city weather information */
h1 {
  font-size: 30px;
}
.current_city_weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 10px;
  /* background-color: purple; */
}

.precipe {
  text-align: left;
  font-size: 10px;
  /* margin-bottom: 43px; */
  /* background-color: red; */
  width: auto;
}

.current_degree_div {
  margin-left: 40px;
  /* margin-bottom: 50px; */
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  /* background-color: blue; */
  width: 150px;
}

img {
  width: 60px;
  /* background-color: aqua; */
  margin-top: -15px;
}

.time {
  font-size: 12px;
}
/* css for the language, city and greeting */
.greeting_box {
  text-align: center;
  font-size: 18px;
  /* background-color: aquamarine; */
}

.greeting {
  font-size: 8px;
  width: 200px;
  height: 20px;
  border-radius: 2px;
  text-align: center;
  /* background-color: green; */
}

.bold {
  font-weight: bold;
  color: white;
}

.condition {
  font-size: 10px;
}

.humidity,
.wind {
  color: rgb(107, 99, 255);
}

.weather_info {
  margin-bottom: 10px;
}

/* div with all the week's weather */
.days_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.days_of_week {
  text-align: center;
  background-color: rgb(142, 164, 231, 0.6);
  border-radius: 2px;
  padding: 5px 0 10px 0;
  margin: 5px 1px 0 2px;
  font-size: 12px;
}

.degree_fah_box {
  padding: 5px;
}

/* footer */
footer {
  font-size: 6px;
  text-align: center;
  margin-top: -40px;
}

#attribute {
  font-size: 4px;
}
